@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Qwigley&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
img {
	max-width: 100%;
}
/* ESTILO DE HTML HEADER */
  .header-container {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	position: relative;
    width: 100%;
    height: 90px;
}
/* Logo de encabezado */
header a .logo-header {
	display: flex;
	padding-top: 15px;
	left: 2%;
	width: 60px;
	height: 74px;	
	position: absolute;
}
.box-title-laleon {
	display: flex;
	justify-content: center;
    align-items: center;
	width: 100%;
	height: 100px;
	font-weight: 300;
}
/* Titulo princial-La Leon */
  header h1 {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 80px;
	font-family: 'Qwigley', cursive;
    font-weight: 600;
	width: 38%;
}
.texto-degrade { 
	background: linear-gradient(to right, #F98922, #690365);
	margin-top: 0px;
	margin-right: 0px;
	text-align: center;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
} 
/* ESTILO DE HTML NAVBAR */
.nav-box {
	background-color: #F98922;
	text-align: center;
	width: 100%;
    height: 25px;
}
/* barra de navegación */
.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none;
    display: flex;
	display: inline-flex;
}
/* margenes de navegador */
.nav-menu li {
	margin-right: 10px;
	text-align: center;
}
/* Color de fuente en barra de navegador */
.nav-menu li a {
	color: #333;
	text-decoration: none;
}
/* ESTILO DE BOTON MOBILE */
#button-box {
    background-color: #f98922;
    width: 100%;
    height: 55px;
    position: relative;
}
.box-button-title{
    text-align: end;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1%;
    font-family: 'Qwigley', cursive;
    color: #ffffff;
    font-size: 3rem;
    position: relative;
    z-index: 1;
}
#btn-arriba{
    margin-top: 10px;
    position: absolute;
    z-index: 2;
}
/* Menu mobile */
.offcanvas-header {
    background-color: #f98922;
    font-family: 'Qwigley', cursive; 
}
#menutwo-deshab{
    display: none;
}
#offcanvasRight{
    width: 200px;
    height: 915px;
}
.nav-menu-mobile{
    display: flex;
    flex-direction: column;
    margin: 0;
	padding: 0;
	list-style: none; 
    text-align: center;
}
.nav-menu-mobile li a {
	color: #333;
	text-decoration: none;
}
.nav-menu-mobile li {
    margin: 10px;
    padding: 15px;
}
/* ESTILO DE HTML INDEX */
/* Box main title catalogo, la marca, contnacto, producto */
.main-container-title {
	padding:10px;
	text-align: center;
	margin: 5% 5%;
	margin-top: 0px;
	margin-bottom: 5px;
}
/* Box main title index */
.main-container-title-index {
	padding:10px;
	text-align: center;
	margin: 5% 5%;
	margin-top: 0px;
	margin-bottom: 0;
}
/* Titulo del contenido */
.main-container-title h4{
	padding: 1%;
	margin-top: 0%;
	margin-bottom: 1%;
}
/* CAROUSEL */
.carousel-inner {
	width: 100%;
	height: 420px;
}
/* Contenido novedades */
.box-items-index {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.item-index {
	border-radius: 10px;
	padding-bottom: 5px;
	width: 250px;
	height: 360px;
	margin: 20px;
}
.item-index:hover {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.20);
}
.item-index img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all .6s;
}
.item-index figure {
	overflow: hidden;
}
.item-index:hover img {
	transform: scale(1.2);
}
/* ESTILO DE HTML FOOTER */
.pie-pagina {
	width: 100%;
	background-color: white;
	border-top: double 4px;
	color: #f88603;
	text-align: center;
}
/* Grupo de 3 columnas */
.pie-pagina .grupo-1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}
/* Imagen del footer */
.pie-pagina .grupo-1 .box figure a img {
	margin: 0;
	padding: 0;
	width: 100px;
	height: 100px;
}
/* Titulos del footer */
.pie-pagina .grupo-1 .box h2 { 
	color: #000000;
	margin-bottom: 25px;
	font-size: 20px;	
}
/* Caja de contactanos parrafo */
.pie-pagina .grupo-1 .box p {
	color: #0c0c0c;
	margin-bottom: 10px;
	font-weight: 500;
}
/* Caja redes sociales en footer */
.pie-pagina .grupo-1 .red-social a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #f88603;
	margin-right: 10px;
	text-align: center;
	transition: all 300ms ease;
}/* caja redes sociales en producto */
.red-social-main .red-social-section .red-social-producto a{
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #690365;
	margin-right: 10px;
	text-align: center;
	transition: all 300ms ease;
}
/* Efecto en iconos de redes en footer */
.pie-pagina .grupo-1 .red-social a:hover {
	color: #690365
}/* Efecto en iconos redes en producto */
.red-social-main .red-social-section .red-social-producto a:hover {
	color: #f88603;
}
/* ESTILO DE HTML CATALOGO */
.box-items {
 	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.item-catalogo {
	border-radius: 10px;
	padding-bottom: 5px;
	width: 250px;
	height: 360px;
	margin: 20px;
}
.img-item {
	margin: 0;
	padding: 0;
}
.item-catalogo:hover {
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.20);
}
.item-catalogo img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all .6s;
}
.item-catalogo figure {
	overflow: hidden;
}
.item-catalogo:hover img {
	transform: scale(1.2);
}
.info-product {
	padding: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: solid 1px #F98922;
	text-align: start;
}
.price-item {
	font-size: 1rem;
	font-weight: 900;
	margin: 0;
}
.info-product button {
	border: none;
	background: none;
	background-color: transparent;
	color: #804040;
	padding: 5px 5px;
	cursor: pointer;
	border-radius: 50px;
	width: 40px;
}
/* EFECTOS HOVER BOTON LIKE */	
.info-product button:active {
	background-color: rgba(218, 218, 218, 0.74);
}
.info-product button:visited {
	background-color: #fcd5b1;
}
.info-product button:link {
	background-color: #dd8cff;
}
/* ESTILO DE HTML CONTACTO */
.box-form {
	text-align: start;	
	padding-bottom: 50px;
}
.box-section {
	display: grid; 
	justify-content: center;
}
.box-datos {
	display: grid;
	grid-template-columns: repeat(2 ,1fr);
	text-align: start;
	width: 600px;
}
/* ESTILO DE HTML LA-MARCA */
.box-text-style {	
	width: 210px;
	height: 70px;
	margin: 40px;
}
.text-style {
	font-family: 'Qwigley', cursive;
	font-size: 90px;
	font-weight: 600;
	text-align: start;
}
.style-body {
	text-align: justify;
}
.main-section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	justify-content: center;
}
.main-section img {
	border-radius: 50%;
	width: 350px;
	height: 350px;
	margin-top: 0;
}
/* MEDIA QUERIES */
@media screen and (max-width: 900px){
	.main-section {
		display: grid;
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 683px) {
	.box-items-catalogo {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;
	}
	.item-catalogo {
		width: 170px;
		margin: 0;
	}
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;
	}
	.item-index {
		width: 170px;
		margin: 0;
	}
}
@media screen and (max-width: 670px) {
	header h1 {
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 71px;
		font-family: 'Qwigley', cursive;
		font-weight: 500;
		width: 38%;
	}
}
@media screen and (max-width: 460px) {
	.main-container-title-index {
		height: 300px;
	}
	.box-datos {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
    /* NAVBAR */
	#menutwo-deshab{
        display: block;
    }
    .menu-principal-deshab{
        display: none;
    }
	.main-container-title h4{
		font-size: 1.3rem;
	}
	.main-container-title-index {
		height: 320px;
	}
	/* FOOTER */
	.pie-pagina .grupo-1 {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 42px;
		padding: 40px 0px;
	}
	.pie-pagina .grupo-1 .box figure a img {
		margin: 0;
		padding: 0;
		width: 80px;
		height: 80px;
	}
	/* INDEX */
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;
	}
	.item-index {
		width: 170px;
		margin: 0;
	}
	.main-container-title-index {
		height: 280px;
	}
	.carousel-control-prev,
	.carousel-control-next {
		margin-bottom: 5%;
	}
	.carousel-inner {
		width: 100%;
		height: 230px;
	} 
	/* CATALOGO */
	.box-items-catalogo {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;
	}
	.item-catalogo {
		width: 170px;
		margin: 0;
	}	
	/* CONTACTO */
	.box-datos {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 100%;
	}
	/* LA MARCA */
}
@media screen and (max-width: 320px) {
	.box-items-catalogo {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}