//Mixins
@mixin rs-icons(){
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: $color-violet;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
@mixin box-product-orden(){
    padding: 5px;
    display: flex;    
    flex-direction: column;
    gap: 10px;
    border-top: solid 1px $color-extra;
    text-align: start;
}
@mixin box-price-prod-size(){
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
}
@mixin btn-product(){
    border: solid 0px transparent;
    background-color: $color-extra;
    color: $color-white;
    font-weight: 500;
    padding: 3px 3px;
    cursor: pointer;
    border-radius: 100px;
    width: 100%;
    height: 30px;
    box-shadow: 0 2px 2px 0 rgba(195, 150, 247, 0.5);    
    background-image: linear-gradient(100deg, rgba(105, 3, 101, 0.9) 0.1%, rgba(249, 137, 34, 0.9) 50%, rgba(187, 167, 186 , 0.9) 0%);
    background-position: 100%;
    background-size: 200% 200%;
    transition: all 0.4s ease;
    margin: 2px;
    
}
@mixin box-item(){
    box-sizing: border-box;
    border-radius: 10px;
    padding-bottom: 5px;
    width: 250px;
    height: 355px;
    margin: 20px;
    box-shadow: 0px 2px 2px rgba(253, 122, 0, 0.2);
}
@mixin btn-effect(){
    background-color: $color-btn-active;
    color: $color-text;
    border: none;
}