@import 'mixins';
/* ESTILO DE PRODUCTO */
.main-container-product {
    box-sizing: border-box;
    margin: auto;
    max-width: 1200px;
    padding: 5%;
    display: grid;
    grid-row: 2;
    text-align: justify;
}
.box-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.box-img-product {
    display: flex;
    justify-content: center;
    
}
.box-detail-product {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    & .title-box-detail {
        padding-bottom: 10%;
    }
    & p {
        @extend .title-box-detail;
    }
    & btn-group {
        @extend .title-box-detail;
    }
}
.box-social-help {
    display: flex;
    justify-content: start;

}
.red-social-product {
    box-sizing: border-box;
    margin: auto;
    padding: 2%;
    .red-social-producto a {
        @include rs-icons();
        color: $color-extra;  
        &:hover {
            color: $color-violet;
        }
    }
}
.box-help-product {
    @extend .red-social-product;
}   
.btn-box-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15%;
    margin-top: 50px;
    cursor: pointer;    
}      
.button-product {
    @include btn-product();
    width: 70%;
    height: 30px;  
    background-image: linear-gradient(45deg, $color-orange 20%, $color-orange 35%, $color-violet 95%);
    background-position: 100%;
    background-size: 200% 200%;
    transition: all 0.5s ease;
}   
.button-product:hover {
    box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
  }
.button-product:active {
    @include btn-effect();
}
@media screen and (max-width: $mq-mobile-420){
    .main-container-product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

        & .red-social-product {
            padding: 6%;
        }    

        & .box-social-help {            
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .btn-box-product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-left: 25%;
        margin-top: 25px;
    }
    .button-product {
        width: 60%;
        margin: 5px;
    }
}
@media screen and (max-width: $mq-desk-900){
    .box-product {        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .box-img-product {
            display: flex;
            justify-content: center;
            padding: 2%;
        }
        .box-detail-product {
            padding: 2%;
        }
    }
}