//* Variables *//
//* color *//
$color-white: #fafafa;
$color-text: #000;
$color-orange: #f98922;
$color-violet: #690365;
$color-extra: #BBA7BA;
$color-bg-trans: transparent;
$color-btn-active: rgba(218, 218, 218, 0.74);
$color-btn-visited: #fcd5b1;
$color-btn-link: #dd8cff;
/* font */
$font-title: 600 80px 'Qwigley', cursive;
$font-main: 'Montserrat', sans-serif;
/* breakpoints */
$mq-desk-900: 900px;
$mq-desk-800: 800px;
$mq-tablet-683: 683px;
$mq-tablet-670: 670px;
$mq-mobile-470: 470px;
$mq-mobile-442: 442px;
$mq-mobile-420: 420px;
$mq-mobile-380: 380px;