@import 'variables';
@import 'catalogoStyle';
@import 'contactoStyle';
@import 'laMarcaStyle';
@import 'productoStyle';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&family=Qwigley&display=swap');

body {
    margin: 0;
    padding: 0;
    font: $font-main;
}
img {
    max-width: 100%;
}
/* HEADER DESKTOP */
header {
    .header-container {
        background-color: $color-white;
        color: $color-text;
        font: $font-main;
        position: relative;
        width: 100%;
        height: 90px;
    }
    a .logo-header {
        display: flex;
        padding-top: 15px;
        left: 2%;
        width: 60px;
        height: 74px;	
        position: absolute;
    }
    .box-title-laleon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        font-weight: 300;
        padding-bottom: 0;
        background-color: $color-extra;
        & h1 {
            margin-top: 25px;
            margin-bottom: 2px;
            width: 38%;
            font: $font-title;
        }
    }
}
.texto-degrade { 
    background: linear-gradient(to right, $color-orange, $color-violet);
    margin-top: 0px;
    margin-right: 0px;   
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: $color-bg-trans;
}
nav {
    .nav-box {
        background-color: $color-extra;
        text-align: center;
        width: 100%;
        height: 25px;
    }
    .nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        display: inline-flex;

        & li {
            margin-right: 10px;
            text-align: center;
            & a {
                color: $color-white;
                text-decoration: none;
                font-weight: 300;
            }
        }
    }
    #menutwo-deshab {
        display: none;
    }
    #button-box {
        background-color: $color-extra;
        width: 100%;
        height: 55px;
        position: relative;

        #btn-arriba{
            margin-top: 10px;
            position: absolute;
            z-index: 2;
        }

        .box-button-title{
            text-align: end;
            justify-content: center;
            margin-right: 10px;
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 1%;
            font: $font-title;
            color: $color-white;
            font-size: 3rem;
            position: relative;
            z-index: 1;
            font-weight: 200;
        }
    }
    #offcanvasRight{
        width: 200px;
        height: 915px;

        & .offcanvas-header {
            background-color: $color-extra;
            font: $font-title;
        }
        
        & .nav-menu-mobile {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            list-style: none; 
            text-align: center;
    
            & li {
                margin: 10px;
                padding: 15px;
        
                & a {
                    text-decoration: none;
                }
            }            
        }    
   }
}
/* Box main container title catalogo, la marca, contacto, producto */
/* Estilo de los titulos de los main container title catalogo, la marca, contacto, producto */
/* Box main container title index */
/* CAROUSEL */
 
.main-container-title {
    padding:10px;
    text-align: center;
    margin: 5% 5%;
    margin-top: 0px;        
    & h4 {
        padding: 5%;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    & .carousel {
        width: 100%;        
        height: 420px;
        & .carousel-inner {
            width: 100%;        
            height: 420px;
        }    
    }        
    
}
    /* NOVEDADES INDEX */  
.box-items-index {     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
    .item-index {
        @include box-item();
        box-shadow: 0px 2px 2px rgba(253, 122, 0, 0.2);
    
        &:hover {
            box-shadow: 0px 6px 6px rgba(169, 138, 197, 0.1);
        }
        &:hover img {
            transform: scale(1.2);
         }
        & .img-item {
            margin: 0;
            padding: 0;
        }
        & figure {
            overflow: hidden;
    
            &:hover img {
                transform: scale(1.2);
            }
        
            & img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
                transition: all .6s;                  
            }
        }
        & .info-product {
            @include box-product-orden(); 

            & .price-item {
                @include box-price-prod-size();
            }
            /* TERMINAR DE ACOMODAR EL BOTON, CENTRARLO Y REPRICARLO */
            & button {
                @include btn-product();
            }
            /* EFECTOS HOVER BOTON LIKE */	
            & button:active {
                @include btn-effect();
            }
        }
    }
}
/* FOOTER */
.pie-pagina {
    width: 100%;
    background-color: $color-extra;
    border-top: double 4px;
    color: $color-white;
    text-align: center;

    .grupo-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 20px 0px;
        width: 100%;
        max-width: 1200px;
        margin: auto;

        .box {
            figure a img {
                margin: 0;
                padding: 0; 
                width: 100px;
                height: 100px;
            }
            h2 { 
                color: $color-white;
                margin-bottom: 25px;
                font-size: 20px;
                font-weight: 400;	
            }
            p {
                color: $color-white;
                margin-bottom: 10px;
                 font-weight: 400;
            }
            .red-social a {
                @include rs-icons();
                &:hover {
                    color: $color-orange;
                }
            }
        }
        
        .red-social-main .red-social-section .red-social-producto a{
            display: inline-block;
            text-decoration: none;
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: $color-violet;
            margin-right: 10px;
            text-align: center;
            transition: all 300ms ease;

            &:hover {
                color: $color-orange;
            }
        }
    }
    .grupo-2 {
        padding-bottom: 10px;
    }
}
/* MEDIA QUERIES INDEX */
@media screen and (max-width: $mq-mobile-380) {
    section.box-items-index {
		display: grid;
		grid-template-columns: repeat(1, 0.1fr);
        gap: 20px;
		justify-items: center;

        & .item-index {
            width: 200px;
            margin: 0;
        }
	}
}
@media screen and (max-width: $mq-mobile-420) {
    /* NAVBAR */
	nav #menutwo-deshab{
        display: block;
    }
    .menu-principal-deshab{
        display: none;
    }
	.main-container-title h4{
		font-size: 1.3rem;
	}
    .main-container-title-index {
		height: 280px;
	}
    main .carousel .carousel-control-prev,
	main .carousel .carousel-control-next {
		margin-bottom: 5%;
        height: 180px;
	}
	main .carousel-inner {
		width: 100%;
		height: 180px;
	} 
    main.main-body-carousel {
        height: 180px;
    }
	/* INDEX */
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;

        .item-index {
            width: 170px;
            margin: 0;
        }
	}	
	/* FOOTER */
	.pie-pagina .grupo-1 {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 42px;
		padding: 40px 0px;

        & .box figure a img {
            margin: 0;
            padding: 0;
            width: 80px;
            height: 80px;
        }
	}	
}
@media screen and (max-width: 442px) {
    .pie-pagina .grupo-1 {
		width: 100%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 42px;
		padding: 40px 0px;
    }
}    
@media screen and (max-width: $mq-mobile-470) {
    header .box-title-laleon h1 {
        font-size: 70px;
        font-weight: 600;
    }
    main .main-container-title-index {
		height: 300px;
        padding-bottom: 0;
	}
    main.main-body-carousel {
        height: 340px;
    }
    main .carousel .carousel-control-prev,
	main .carousel .carousel-control-next {		
        height: 250px;
	}

    	/* INDEX */
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;

        .item-index {
            width: 170px;
            margin: 0;
        }
	}
}
@media screen and (max-width: $mq-tablet-670) {
	header h1 {
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 71px;
		font-family: 'Qwigley', cursive;
		font-weight: 600;
		width: 38%;
	}
}   
@media screen and (max-width: $mq-tablet-683) {
	.box-items-index {
		display: grid;
		grid-template-columns: repeat(2, 0.1fr);
		grid-gap: 20px;
        
        .item-index {
            width: 170px;
            margin: 0;
        }
	}
} 
